<template>
<!-- eslint-disable -->
    <div class="progressForm container">
        <el-steps :active="active" finish-status="success">
        <el-step title="步驟 1"></el-step>
        <el-step title="步驟 2"></el-step>
        <!-- <el-step title="步骤 3"></el-step> -->
        </el-steps>
            <el-form v-if="active===0">
                <div class="row" style="margin:auto;width:100%;padding-top:2%;">
                     <div class="col-6">
                    <div class="row" style="margin:auto;width:100%;padding-bottom:2%;">
                        <div class="col-12">
                        <h5>訂單名稱：</h5>
                        <el-input v-model="listName" placeholder="請輸入名稱" style="width:35%;margin-bottom:2%;"></el-input>
                        <h5>種類：</h5>
                            <el-select v-model="cate" placeholder="請選擇" @change="listFilter">
                                <el-option
                                    v-for="item in options"
                                    :key="item.value"
                                    :label="item.label"
                                    :value="item.value">
                                </el-option>
                            </el-select>
                        </div>
                    </div>
                     <h5>品名：</h5>
                        <el-select value-key="_id" v-model="selectedItem" placeholder="請選擇">
                            <el-option
                                v-for="item in selection"
                                :key="item._id"
                                :label="item.name"
                                :value="item">
                            </el-option>
                        </el-select>
                        <br>
                        <el-button style="margin-top: 12px;" v-on:click="addToList">加入出貨單</el-button>
                     </div>
                     <div class="col-6">
                         <el-table
                            :data="pendingArray"
                            style="width: 100%">
                            <template slot="empty">
                                未加入品項
                            </template>
                            <el-table-column
                                prop="category"
                                label="種類"
                                width="100">
                            </el-table-column>
                            <el-table-column
                                prop="name"
                                label="品名"
                                width="120">
                            </el-table-column>
                            <el-table-column
                                label="數量"
                                width="200">
                                <template slot-scope="scope">
                                    <el-input-number v-model="scope.row.quantity" :min="1" label="描述文字"></el-input-number> 
                                </template>
                            </el-table-column>
                            <el-table-column
                            label="刪除"
                            align="right">
                            <template slot-scope="scope">
                                <el-button
                                size="mini"
                                type="danger"
                                @click="handleDelete(scope.$index, scope.row)">刪除</el-button>
                            </template>
                            </el-table-column>
                            </el-table>
                     </div>
                </div>
            </el-form>
            <el-form v-if="active===1">
                <div class="row" style="margin:auto;width:100%;padding-top:2%;">
                     <div class="col-12">
                         <h3>{{ listName }}</h3>
                         <el-table
                            :data="pendingArray"
                            style="width: 50%;margin:auto;">
                            <el-table-column
                                prop="_id"
                                label="編號"
                                width="230">
                            </el-table-column>
                            <el-table-column
                                prop="category"
                                label="種類"
                                width="100">
                            </el-table-column>
                            <el-table-column
                                prop="name"
                                label="品名"
                                width="120">
                            </el-table-column>
                            <el-table-column
                                prop="quantity"
                                label="數量"
                                width="200">
                            </el-table-column>
                        </el-table>
                     </div>
                </div>
            </el-form>
            <el-form v-if="active==2">
                <h3 style="margin:auto;">已送出</h3>
            </el-form>
        <el-button v-if="active == 1" style="margin-top: 12px;" @click="prev">上一步</el-button>
        <el-button v-if="active == 0" style="margin-top: 12px;" @click="next">下一步</el-button>
        <el-button v-if="active == 1" style="margin-top: 12px;" @click="shipmentCreator">送出</el-button>
        <el-button v-if="active == 2" style="margin-top: 12px;" @click="active = 0">完成</el-button>
        
    </div>
</template>
<script>
/* eslint-disable*/
//Services
import ItemService from '@/services/item'
import ShipmentService from '@/services/shipment'
//Socket Service
import ShipmentSocket from '@/services/socket/shipment';
export default {
    mixins:[ItemService,ShipmentService,ShipmentSocket],
    name:"AddShipmentPage",
    data() {
      return {
        active: 0,
        options: [{
          label: '食品應用',
          value: '食品應用'
        }, {
          label: '飼料應用',
          value: '飼料應用'
        }],
        cate: '',
        listName: '',
        pendingArray: [],
        selection: []
      };
    },

    methods: {
      next() {
        
        if(this.pendingArray.length == 0) 
            alert('Items list is empty.')
        else
            this.active++;
      },
      prev() {
          if(this.active-- < 1) this.active = 0;
      },
      listFilter(value) {
          this.selectedItem = {};
          console.log(value);
          this.selection = this.itemList.filter(data => data.category === value);
      },
      addToList(){
          var found = this.pendingArray.find((data) => {
              return data._id == this.selectedItem._id;
          });
          if(!found && this.selectedItem._id){
            this.pendingArray.push(this.selectedItem);
          }else if(!this.selectedItem._id){
            alert('Choose an item.');
          }else{
            alert('This item aleardy in the list.');  
          }
      },
      handleDelete(index, row) {
        this.pendingArray.splice(index, 1); 
      },
      shipmentCreator(){
            // await this.createShipment(this.pendingArray,this.listName);
            this.createItemListSocket(this.pendingArray,this.listName);
            this.selectedItem = {};
            this.listName = '';
            this.cate = '';
            this.active++;
      }
    },
    beforeCreate(){
        this.$store.commit('getItemList');
    }
    // created() {
    //     this.getItem();
    // }
}
</script>
<style scoped>
    .progressForm{
        width:100%;
        height:50%;
        padding:2%;
        margin-right:2%;
        margin-top:2%;
        background:white;
        border-radius: 12px;
        box-shadow: 5px 5px 8px black;
    }
</style>