<template>
    <!-- eslint-disable -->
    <div class="container">
        <div class="selection row" style="float:left;margin:auto;width:100%;">
            <el-select v-model="value" placeholder="請選擇" @change="listFilter">
                <el-option
                    v-for="item in options"
                    :key="item.value"
                    :label="item.label"
                    :value="item.value">
                </el-option>
            </el-select>
        </div>
        <div class="row" style="margin:auto;height:100%;width:100%;padding-top:2%;">
             <el-table
                class="table"
                v-loading="loading"
                :data="recordTable.filter(data => !search || data.name.toLowerCase().includes(search.toLowerCase()))"
                style="width: 100%">
                 <el-table-column type="expand">
                <template slot-scope="props">
                    <el-form label-position="left"  class="demo-table-expand">
                    <el-form-item label="ID">
                        <span>{{ props.row._id }}</span>
                    </el-form-item>
                    <el-form-item label="出貨單">
                        <span>{{ props.row.itemList }}</span>
                    </el-form-item>
                    <el-form-item label="掃描清單">
                        <span>{{ props.row.scanList }}</span>
                    </el-form-item>
                    <el-form-item label="正確">
                        <span>{{ props.row.result }}</span>
                    </el-form-item>
                    <el-form-item label="建立時間">
                        <span>{{ props.row.createdAt }}</span>
                    </el-form-item>
                    <el-form-item label="更新時間">
                        <span>{{ props.row.updatedAt }}</span>
                    </el-form-item>
                    </el-form>
                </template>
                </el-table-column>
                <el-table-column
                sortable
                label="單號"
                prop="_id">
                </el-table-column>
                <el-table-column
                label="出貨單"
                width="250">
                <template slot-scope="scope">
                   <el-popover
                      placement="bottom"
                      width="500"
                      trigger="click">
                      <el-table :data="itemsDetail">
                        <template slot="empty">
                            無資料
                        </template>
                        <el-table-column width="150" property="item.category" label="種類"></el-table-column>
                        <el-table-column width="150" property="item.name" label="名稱"></el-table-column>
                        <el-table-column width="100" property="scaned" label="掃描數量"></el-table-column>
                        <el-table-column width="100" property="quantity" label="需求數量"></el-table-column>
                      </el-table>
                      <el-button slot="reference" @click="getItemListDetails(scope.row.itemList)">{{scope.row.itemList}}</el-button>
                    </el-popover>
                </template>
                </el-table-column>
                <el-table-column
                label="錯誤項目">
                <template slot-scope="scope">
                   <el-popover
                      placement="bottom"
                      width="400"
                      trigger="click">
                      <el-table :data="wrongList">
                        <template slot="empty">
                            無掃描錯誤
                        </template>
                        <el-table-column width="150" property="item[0].category" label="種類"></el-table-column>
                        <el-table-column width="150" property="item[0].name" label="名稱"></el-table-column>
                        <el-table-column width="100" property="scaned" label="掃描數量"></el-table-column>
                      </el-table>
                      <el-button slot="reference" @click="getWrongScanList(scope.row.itemList)">細節</el-button>
                    </el-popover>
                </template>
                </el-table-column>
                <el-table-column
                label="作業員">
                <template slot-scope="scope">
                   <el-popover
                      placement="bottom"
                      width="400"
                      trigger="click">
                      <el-table :data="userDetail">
                        <template slot="empty">
                            找不到使用者
                        </template>
                        <el-table-column width="150" property="_id" label="編號"></el-table-column>
                        <el-table-column width="150" property="name" label="姓名"></el-table-column>
                        <el-table-column width="150" property="email" label="信箱"></el-table-column>
                        <el-table-column width="100" property="department" label="部門"></el-table-column>
                        <!-- <el-table-column width="150">
                            <template slot-scope="scope">
                                {{ scope.row._id}}
                            </template>
                        </el-table-column> -->
                      </el-table>
                      <el-button slot="reference" @click="getUserById(scope.row.user)">{{ scope.row.user }}</el-button>
                    </el-popover>
                </template>
                </el-table-column>
                <el-table-column
                sortable
                :formatter="cellValueRenderer"
                label="正確"
                prop="result">
                </el-table-column>
                <el-table-column
                align="right">
                <template slot="header" slot-scope="scope">
                    <el-input
                    v-model="search"
                    size="mini"
                    placeholder="請輸入關鍵字搜尋"/>
                </template>
                <template slot-scope="scope">
                    <!-- <el-button
                    size="mini"
                    @click="handleEdit(scope.$index, scope.row)">編輯</el-button> -->
                    <el-button
                    size="mini"
                    type="danger"
                    @click="handleDelete(scope.$index, scope.row)">刪除</el-button>
                </template>
                </el-table-column>
            </el-table>
        </div>
    </div>
</template>
<script>
/* eslint-disable */
//Services
import ShipmentService from '@/services/shipment'
import RecordService from '@/services/record'
import ScanListService from '@/services/scanList'
import UserService from '@/services/user'
//Socket Service
import RecordSocket from '@/services/socket/record';
export default {
    mixins: [ShipmentService,RecordService,ScanListService,RecordSocket,UserService],
    name:"RecordPage",
     data() {
      return {
        //////選單資料
        options: [{
          label: '正確',
          value: '正確'
        }, {
          label: '錯誤',
          value: '錯誤'
        }],
        value: '',
        search: '',
        dialogTableVisible: false
      }
    },
     methods: {
      handleEdit(index, row) {
        console.log(index, row);
      },
      async handleDelete(index, row) {
        this.deleteRecordSocket(row._id);
      },
      listFilter(value) {
          if(value == '正確' ){
            this.recordTable = this.records.filter(data => data.result === true);
          }
          if(value == '錯誤' ){
            this.recordTable = this.records.filter(data => data.result === false);
          }
      },
       cellValueRenderer(row, column, cellValue, index) {
        let value = cellValue;
        if (typeof row[column.property] === 'boolean') {
            value = String(cellValue);
        }
        return value;
        }
    },
    created() {
        this.getRecords();
        this.recordDeleteSubscribe();
    },
    destroyed() {
        this.recordUnSubscribe();
    }
}
</script>
<style scoped>
    .table{
        /* border: 1px black solid; */
        border-radius: 12px;
        box-shadow: 5px 5px 8px black;
    }
</style>