<template>
    <!-- eslint-disable -->
    <div class="container">
        <div class="selection row" style="float:left;margin:auto;width:100%;">
            <el-select v-model="value" placeholder="請選擇" @change="listFilter">
                <el-option
                    v-for="item in options"
                    :key="item.value"
                    :label="item.label"
                    :value="item.value">
                </el-option>
            </el-select>
        </div>
        <div class="row" style="margin:auto;height:100%;width:100%;padding-top:2%;">
             <el-table
                class="table"
                v-loading="loading"
                :data="shipmentTable.filter(data => !search || data.name.toLowerCase().includes(search.toLowerCase()))"
                style="width: 100%">
                <template slot="empty">
                    無符合項目
                </template>
                 <el-table-column type="expand">
                <template slot-scope="props">
                    <el-form label-position="left" class="demo-table-expand">
                    <el-form-item label="ID">
                        <span>{{ props.row._id }}</span>
                    </el-form-item>
                    <el-form-item label="名稱">
                        <span>{{ props.row.name }}</span>
                    </el-form-item>
                    <el-form-item label="完成度">
                        <span>{{ props.row.fulfilled }}</span>
                    </el-form-item>
                    <el-form-item label="產線">
                        <span>{{ props.row.production }}</span>
                    </el-form-item>
                    <el-form-item label="作業員">
                        <span>{{ props.row.operator }}</span>
                    </el-form-item>
                    <el-form-item label="建立時間">
                        <span>{{ props.row.createdAt }}</span>
                    </el-form-item>
                    <el-form-item label="更新時間">
                        <span>{{ props.row.updatedAt }}</span>
                    </el-form-item>
                    </el-form>
                </template>
                </el-table-column>
                <el-table-column
                sortable
                label="單號"
                prop="_id">
                </el-table-column>
                <el-table-column
                sortable
                label="名稱"
                prop="name">
                </el-table-column>
                <el-table-column
                sortable
                label="產線"
                prop="production">
                </el-table-column>
                <el-table-column
                sortable
                label="作業員"
                prop="operator">
                </el-table-column>
                <el-table-column
                sortable
                :formatter="cellValueRenderer"
                label="進度"
                prop="submitted">
                </el-table-column>
                <el-table-column
                align="right">
                <template slot="header" slot-scope="scope">
                    <el-input
                    v-model="search"
                    size="mini"
                    placeholder="請輸入關鍵字搜尋"/>
                </template>
                <template slot-scope="scope">
                    <el-button
                    size="mini"
                    @click="handleEdit(scope.$index, scope.row)">編輯</el-button>
                    <el-button
                    size="mini"
                    type="danger"
                    @click="handleDelete(scope.$index, scope.row)">刪除</el-button>
                </template>
                </el-table-column>
            </el-table>
        </div>
        <!-- Modules -->
        <el-drawer
        title="修改"
        :visible.sync="editModule"
        direction="rtl"
        size="35%"
        style="margin-top:2%;">
        <center>
                <div class="row" style="margin:auto;width:100%;padding-top:2%;">
                     <div class="col-12">
                     <h5>名稱</h5>
                     <el-input v-model="edit.name" style="width:25%;height:25%;font-size:30px;" placeholder="請輸入名稱" clearable></el-input>
                     </div>
                </div>
                <div class="row" style="margin:auto;width:100%;padding-top:2%;">
                     <div class="col-12">
                     <h5>產線</h5>
                     <el-input v-model="edit.production" style="width:25%;height:25%;font-size:30px;" placeholder="請輸入名稱" clearable></el-input>
                     </div>
                </div>
                <div class="row" style="margin:auto;width:100%;padding-top:5%;">
                     <div class="col-12">
                         <el-button v-on:click="editModule=false">取消</el-button>
                         <el-button type="primary" v-on:click="updateItemListSocket(edit)">送出</el-button>
                     </div>
                </div>
        </center>
        </el-drawer>
    </div>
</template>
<script>
/* eslint-disable */
//Services
import ShipmentService from '@/services/shipment'
//Socket Service
import ShipmentSocket from '@/services/socket/shipment';
export default {
    mixins: [ShipmentService,ShipmentSocket],
    name:"ShipmentPage",
     data() {
      return {
        //////選單資料
        options: [{
          label: '已送出',
          value: '已送出'
        }, {
          label: '未處理',
          value: '未處理'
        }],
        value: '',
        search: '',
        editModule: false,
        edit: {}
      }
    },
     methods: {
      handleEdit(index, row) {
        this.editModule = true;
        this.edit = Object.assign({}, row);
      },
      async handleDelete(index, row) {
        this.deleteItemListSocket(row._id);
      },
      listFilter(value) {
          if(value == '已送出' ){
            this.shipmentTable = this.shipments.filter(data => data.submitted === true);
          }
          if(value == '未處理' ){
            this.shipmentTable = this.shipments.filter(data => data.submitted === false);
          }
      },
       cellValueRenderer(row, column, cellValue, index) {
            let value = cellValue;
            if (typeof row[column.property] === 'boolean') {
                value = String(cellValue);
            }
            return value;
        }
    },
    beforeCreate(){
        this.$store.commit('getShipments');
    }
}
</script>
<style scoped>
    .table{
        /* border: 1px black solid; */
        border-radius: 12px;
        box-shadow: 5px 5px 8px black;
    }
</style>