<template>
    <div class="progressForm container">
        <el-steps :active="active" finish-status="success" process-status="process">
        <el-step title="步驟 1"></el-step>
        <el-step title="步驟 2"></el-step>
        </el-steps>
            <el-form v-if="active===0">
                 <div class="row" style="margin:auto;width:100%;">
                     <div class="col-12">
                     <h5>種類：</h5>
                        <el-select v-model="item.category" placeholder="請選擇">
                            <el-option
                                v-for="item in options"
                                :key="item.value"
                                :label="item.label"
                                :value="item.value">
                            </el-option>
                        </el-select>
                     </div>
                </div>
                <div class="row" style="margin:auto;width:100%;padding-top:2%;">
                     <div class="col-12">
                     <h5>名稱：</h5>
                        <el-input v-model="item.name" style="width:18%;" placeholder="請輸入名稱" clearable></el-input>
                     </div>
                </div>
                <div class="row" style="margin:auto;width:100%;padding-top:2%;">
                     <div class="col-12">
                     <h5>數量：</h5>
                        <el-input-number v-model="item.quantity" :min="0" label="描述文字"></el-input-number>
                     </div>
                </div>
            </el-form>
            <el-form v-if="active===1">
                <div class="row" style="margin:auto;width:100%;padding-top:2%;">
                     <div class="col-12">
                     <h5>種類：{{ item.category}}</h5>
                     </div>
                </div>
                <div class="row" style="margin:auto;width:100%;padding-top:2%;">
                     <div class="col-12">
                     <h5>名稱：{{ item.name}}</h5>
                     </div>
                </div>
                <div class="row" style="margin:auto;width:100%;padding-top:2%;">
                     <div class="col-12">
                     <h5>數量：{{ item.quantity}}</h5>
                     </div>
                </div>
            </el-form>
            <el-form v-if="active===2">
                <h2 style="color:green;">新產品創建成功</h2>
            </el-form>
        <el-button style="margin-top: 12px;" @click="prev">上一步</el-button>
        <el-button v-if="active != 1" style="margin-top: 12px;" @click="next">下一步</el-button>
        <el-button v-if="active == 1" style="margin-top: 12px;" @click="itemCreator">送出</el-button>
    </div>
</template>
<script>
/* eslint-disable */
//Services
import ItemService from '@/services/item';
//Socket Service
import ItemSocket from '@/services/socket/item';
export default {
    name:"AddItemPage",
    mixins: [ItemService,ItemSocket],
    data() {
      return {
        active: 0,
        options: [{
          label: '食品應用',
          value: '食品應用'
        }, {
          label: '飼料應用',
          value: '飼料應用'
        }]
      };
    },

    methods: {
      next() {
        if(!this.item.category || !this.item.name || !this.item.quantity){
            alert("表單不完整！！");
        }else {
            if (this.active++ > 1) this.active = 0;
        }
      },
      prev() {
          if(this.active-- < 1) this.active = 0;
      },
      itemCreator() {
          if(this.createItemSocket()){
            this.active++;
          }else;
      }
    }
}
</script>
<style scoped>
    .progressForm{
        width:100%;
        height:50%;
        padding:2%;
        margin-right:2%;
        margin-top:2%;
        background:white;
        border-radius: 12px;
        box-shadow: 5px 5px 8px black;
    }
</style>