<template>
    <!-- eslint-disable -->
    <div class="itemList container">
        <div class="selection row" style="float:left;margin:auto;width:100%;">
            <el-select v-model="value" placeholder="請選擇" @change="listFilter">
                <el-option
                    v-for="item in options"
                    :key="item.value"
                    :label="item.label"
                    :value="item.value">
                </el-option>
            </el-select>
        </div>
        <div class="row" style="margin:auto;height:100%;width:100%;padding-top:2%;">
            <div class="col-12">
                <el-table
                    class="table"
                    :data="tableData.filter(data => !search || data.name.toLowerCase().includes(search.toLowerCase()))"
                    style="width:100%;">
                    <template slot="empty">
                        無符合項目
                    </template>
                    <el-table-column type="expand">
                    <template slot-scope="props">
                        <el-form label-position="left" inline class="demo-table-expand">
                        <el-form-item label="ID">
                            <span>{{ props.row._id }}</span>
                        </el-form-item>
                        <el-form-item label="種類">
                            <span>{{ props.row.category }}</span>
                        </el-form-item>
                        <el-form-item label="名稱">
                            <span>{{ props.row.name }}</span>
                        </el-form-item>
                        <el-form-item label="數量">
                            <span>{{ props.row.quantity }}</span>
                        </el-form-item>
                        <el-form-item label="建立時間">
                            <span>{{ props.row.createdAt }}</span>
                        </el-form-item>
                        <el-form-item label="更新時間">
                            <span>{{ props.row.updatedAt }}</span>
                        </el-form-item>
                        </el-form>
                    </template>
                    </el-table-column>
                    <el-table-column
                    label="編號"
                    prop="_id">
                    </el-table-column>
                    <el-table-column
                    label="種類"
                    sortable
                    prop="category">
                    </el-table-column>
                    <el-table-column
                    label="名稱"
                    sortable
                    prop="name">
                    </el-table-column>
                    <el-table-column
                    label="數量"
                    sortable
                    prop="quantity">
                    </el-table-column>
                    <el-table-column
                    align="right">
                    <template slot="header" slot-scope="scope">
                        <el-input
                        v-model="search"
                        size="mini"
                        placeholder="請輸入關鍵字搜尋"/>
                    </template>
                    <template slot-scope="scope">
                        <el-button
                        size="mini"
                        @click="handleEdit(scope.$index, scope.row)">修改</el-button>
                        <el-button
                        size="mini"
                        type="danger"
                        @click="handleDelete(scope.$index, scope.row)">刪除</el-button>
                    </template>
                    </el-table-column>
                </el-table>
            </div>
        </div>
        <!-- Modules -->
        <el-drawer
        title="修改"
        :visible.sync="editModule"
        direction="rtl"
        size="35%"
        style="margin-top:2%;">
        <center>
                <div class="row" style="margin:auto;width:100%;padding-top:2%;">
                     <div class="col-12">
                     <h5>名稱</h5>
                     <el-input v-model="edit.name" style="width:25%;height:25%;font-size:30px;" placeholder="請輸入名稱" clearable></el-input>
                     </div>
                </div>
                <div class="row" style="margin:auto;width:100%;padding-top:2%;">
                     <div class="col-12">
                        <h5>種類：</h5>
                        <el-select v-model="edit.category" placeholder="請選擇">
                            <el-option
                                v-for="item in options"
                                :key="item.value"
                                :label="item.label"
                                :value="item.value">
                            </el-option>
                        </el-select>
                     </div>
                </div>
                <div class="row" style="margin:auto;width:100%;padding-top:2%;">
                     <div class="col-12">
                     <h5>數量：</h5>
                     <el-input-number v-model="edit.quantity" :min="0" label="描述文字"></el-input-number>
                     </div>
                </div>
                <div class="row" style="margin:auto;width:100%;padding-top:5%;">
                     <div class="col-12">
                         <el-button v-on:click="editModule=false">取消</el-button>
                         <el-button type="primary" v-on:click="updateItemSocket(edit)">送出</el-button>
                     </div>
                </div>
        </center>
        </el-drawer>
    </div>
</template>
<script>
/* eslint-disable */
//Services
import ItemService from '@/services/item'
//Socket Service
import ItemSocket from '@/services/socket/item'
export default {
    name:"ItemPage",
    mixins: [ItemService,ItemSocket],
    data() {
      return {
        //////選單資料
        options: [{
          label: '食品應用',
          value: '食品應用'
        }, {
          label: '飼料應用',
          value: '飼料應用'
        }],
        value: '',
        search: '',
        editModule: false,
        edit: {}
      }
    },
     methods: {
      handleEdit(index, row) {
          this.editModule = true;
          this.edit = Object.assign({}, row);
      },
      async handleDelete(index, row) {
        this.deleteItemSocket(row._id);
      },
      listFilter(value) {
        this.tableData = this.itemList.filter(data => data.category === value);
      }
    },
    beforeCreate(){
        this.$store.commit('getItemList');
    }
}
</script>
<style scoped>
    .table{
        border-radius: 12px;
        box-shadow: 5px 5px 8px black;
    }
    .demo-table-expand {
        font-size: 0;
    }
    .demo-table-expand label {
        width: 90px;
        color: #99a9bf;
    }
    .demo-table-expand .el-form-item {
        margin-right: 0;
        margin-bottom: 0;
        width: 50%;
    }
</style>