<template>
    <div class="notifier">
        <el-badge class="badge" :value="adminUnAck.length" :max="99" :hidden="adminUnAck.length==0">
            <el-button @click="dialogTableVisible = true" size="small">通知</el-button>
        </el-badge>
        <el-dialog title="管理員待確認訊息" :visible.sync="dialogTableVisible">
            <el-table :data="adminTableData">
                <template slot="empty">
                    無訊息
                </template>
                <el-table-column width="45">
                    <template slot-scope="scope">
                        <i v-if="scope.row.emergency" class="el-icon-warning" style="color:#F56C6C;"></i>
                        <i v-else class="el-icon-info" style="color:#409EFF;"></i>
                    </template>
                </el-table-column>
                <el-table-column property="date" label="日期" width="200"></el-table-column>
                <el-table-column property="title" label="標題" width="100"></el-table-column>
                <el-table-column property="description" label="描述"></el-table-column>
                <el-table-column label="確認">
                    <template slot-scope="scope">
                        <el-button v-on:click="checkReportSocket(scope.row._id)" type="success" icon="el-icon-check" circle/>
                    </template>
                </el-table-column>
            </el-table>
        </el-dialog>
    <div>
</template>
<script>
/* eslint-disable */
// Services
import ReportService from '@/services/report'
// Socket Services
import ReportSocket from '@/services/socket/report'
export default {
    name: 'AdminNotifier',
    mixins: [ReportSocket,ReportService],
    data(){
        return {
            dialogTableVisible: false
        }
    },
    computed: {
        admin() {
            return this.$store.getters.adminReports;
        },
        adminUnAck() {
            return this.$store.getters.adminUnAck;
        },
        adminTableData() {
            return this.$store.getters.adminUnAck;
        }
    },
    // created() {
    //     this.adminReportCreateSubscribe();
    // },
    beforeCreate(){
        this.$store.commit('getAdminReports');
    },
    // destroyed() {
    //     this.reportUnSubscribe();
    // }
}
</script>
<style scoped>
    .notifier{
        float:right;
    }
</style>