<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
    <title>barcodeapp</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@latest/css/materialdesignicons.min.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script id="mdsp-webcomponents-loader" type="text/javascript" src="https://static.eu1.mindsphere.io/webcomponents/v1/index.js"></script>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but barcodeapp doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div class="mdsp mdsp-defaults" id="_mdspcontent" style="height:100%;width:100%;">
    <div id="app" style="overflow: auto;"></div>
    </div>
    <!-- built files will be auto injected -->
    <!-- OS Bar integration -->
    <script src="https://static.eu1.mindsphere.io/osbar/v4/js/main.min.js"></script>
    <script>
        _mdsp.init({
            title: "MindSphere Taiwan",
            appId: "_mdspcontent",
            appInfoPath: "./app-info.json"
        });
    </script>
  </body>
</html>
