<template>
<div style="width:100%;height:100%;">
    <div class="navigatorPage" style="margin-top:10%;width:100%;height:100%;">
        <h2>目前權限：{{ Permission }}</h2>
        <div class="badges">
            <div class="row navigator">
                <div class="col-lg-6">
                <div class="badge">
                    <div class="imgBx">
                        <img src="../layout/assets/analysis.png" alt="Avatar" class="avatar">
                    </div>
                    <div class="contentBx">
                        <h2 style="padding-top:8%;">管理員</h2>
                        <a href="/#/admin/itemhandler"><span>Click</span></a>
                    </div>
                </div>
                </div>
                <div class="col-lg-6">
                <div class="badge">
                    <div class="imgBx">
                        <img src="../layout/assets/box.png" alt="Avatar" class="avatar">
                    </div>
                    <div class="contentBx">
                        <h2 style="padding-top:8%;">現場人員</h2>
                        <a href="/#/operator/shipment"><span>Click</span></a>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
</template>
<script>
/* eslint-disable */
export default {
    name: 'Navigator',
    data() {
        return {
            Permission: ''
        }
    },
    methods: {
        getCurrentPermission(){
                 let user = this.$store.getters.user;
                 if(user._id){
                    if(user.admin){
                        this.Permission = '管理員';
                    }else{
                        this.Permission = '作業員';
                    }
                 }else{
                     setTimeout(this.getCurrentPermission,1000);
                 }
        }
    },
    created() {
        this.getCurrentPermission();
    }
}
</script>
<style scoped>
    @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900&display=swap');

    h2{
        font-family: 'Poppins', sans-serif;
        color: white;
    }
    .badges {
        width: 100%;
        height: 100%;
        padding: 2%;
        margin: auto;
    }
    .navigator{
        width: 100%;
        height: 100%;
        background: none;
    }
    .badge{
        border-radius: 50%;
        width: 600px;
        height: 600px;
        margin: auto;
        background: linear-gradient(90deg,rgb(75,185,185), rgb(0,95,135));  background-attachment: fixed;
        box-shadow: -6px -6px 20px rgba(255,255,255,0.1),
                6px 6px 20px rgba(0,0,0,0.5);
    }
    .badge:hover {
        box-shadow: inset -6px -6px 10px rgba(255,255,255,0.05),
                inset 6px 6px 20px rgba(0,0,0,0.3);
    }

    .avatar {
        vertical-align: middle;
        width:35%;
        height: 35%;
        margin-top:7%;
    }
    .badges .badge .contentBx a {
        display: inline-block;
        padding: 10px 20px;
        margin-top: 15px;
        border-radius: 40px;
        color: white;
        font-size: 16px;
        text-decoration: none;
        box-shadow: -3px -3px 10px rgba(255,255,255,.1), 
                    3px 3px 10px rgba(0,0,0,.3)
    }
    .badges .badge .contentBx a:hover{
        box-shadow: inset -3px -3px 10px rgba(255,255,255,.1), 
                    inset 3px 3px 10px rgba(0,0,0,.3)
    }
    .badges .badge a:hover span{
        display: block;
        transform: scale(0.98);
    }
    .badges .badge:hover .imgBx,
    .badges .badge:hover .contentBx
    {
        transform: scale(0.98);
    }

    @media screen  and (max-height: 650px){
        .badge{
            width: 210px;
            height: 210px;
            margin-top: 2%;
        }
        .row{
            height: 75%;
        }
        .badges .badge .contentBx a {
            margin-top: 7px;
        }
    }
    @media screen  and (max-width: 510px) and (min-height:650px){
        .badge{
            width: 250px;
            height: 250px;
            margin-top: 2%;
        }
        .row{
            height: 75%;
        }
    }
    @media screen  and (min-width: 510px) and (max-width: 768px){
        .badge{
            width: 350px;
            height: 350px;
            margin-top: 2%;
        }
        .row{
            height: 75%;
        }
    }
    @media screen  and (min-width: 768px)  and (max-width: 992px){
        .badge{
            width: 400px;
            height: 400px;
            margin-top: 2%;
        }
    }
    @media screen  and (min-width: 992px) and (max-width: 1200px){
        .badge{
            width: 450px;
            height: 450px;
        }

    }
    @media screen  and (min-width: 1200px)  and (max-width: 1600px){
        .badge{
            width: 500px;
            height: 500px;
        }
    }
    @media screen  and (min-width: 1600px){
        .badge{
            width: 550px;
            height: 550px;
        }
    }
    /* 
    @media screen  and (min-width: 1200px)  and (max-width: 1600px){

    }
    @media screen  and (min-width: 1600px)  and (max-width: 1800px){

    }
    @media screen  and (min-width: 1800px){

    } */
</style>