<template>
    <!-- eslint-disable -->
    <div class="container">
        <div class="selection row" style="float:left;margin:auto;width:100%;">
            <el-select v-model="value" placeholder="請選擇" @change="listFilter">
                <el-option
                    v-for="report in options"
                    :key="report.value"
                    :label="report.label"
                    :value="report.value">
                </el-option>
            </el-select>
        </div>
        <div class="row" style="margin:auto;height:100%;width:100%;padding-top:2%;">
             <el-table
                class="table"
                :data="tableData.filter(data => !search || data.title.toLowerCase().includes(search.toLowerCase()))"
                style="width: 100%">
                <template slot="empty">
                    無符合項目
                </template>
                <el-table-column type="expand">
                <template slot-scope="props">
                    <el-form label-position="left" inline class="demo-table-expand">
                    <el-form-item label="ID">
                        <span>{{ props.row._id }}</span>
                    </el-form-item>
                    <el-form-item label="標題">
                        <span>{{ props.row.title }}</span>
                    </el-form-item>
                    <el-form-item label="時間">
                        <span>{{ props.row.time }}</span>
                    </el-form-item>
                    <el-form-item label="緊急">
                        <span>{{ props.row.emergency }}</span>
                    </el-form-item>
                    <el-form-item label="分類">
                        {{props.row.category}}
                    </el-form-item>
                    <el-form-item label="回報對象">
                        {{props.row.people}}
                    </el-form-item>
                    <el-form-item label="描述">
                        {{props.row.description}}
                    </el-form-item>
                    <el-form-item label="確認">
                        {{props.row.acknowledge}}
                    </el-form-item>
                    <el-form-item label="建立時間">
                        <span>{{ props.row.createdAt }}</span>
                    </el-form-item>
                    <el-form-item label="更新時間">
                        <span>{{ props.row.updatedAt }}</span>
                    </el-form-item>
                    </el-form>
                </template>
                </el-table-column>
                <el-table-column
                label="編號"
                prop="_id">
                </el-table-column>
                <el-table-column
                width="100"
                label="標題"
                sortable
                prop="title">
                </el-table-column>
                <el-table-column
                width="150"
                label="時間"
                sortable
                prop="date">
                </el-table-column>
                <el-table-column
                width="180"
                :formatter="cellValueRenderer"
                label="緊急"
                sortable
                prop="emergency">
                </el-table-column>
                <el-table-column
                width="180"
                label="分類"
                sortable
                prop="category">
                </el-table-column>
                <el-table-column
                width="180"
                :formatter="cellValueRenderer"
                label="確認"
                sortable
                prop="acknowledge">
                </el-table-column>
                <el-table-column
                align="right">
                <template slot="header" slot-scope="scope">
                    <el-input
                    v-model="search"
                    size="mini"
                    placeholder="請輸入關鍵字搜尋"/>
                </template>
                <template slot-scope="scope">
                    <el-button
                    size="mini"
                    @click="handleEdit(scope.$index, scope.row)">修改</el-button>
                    <el-button
                    size="mini"
                    type="danger"
                    @click="handleDelete(scope.$index, scope.row)">刪除</el-button>
                </template>
                </el-table-column>
            </el-table>
        </div>
        <!-- Modules -->
        <el-drawer
        title="修改"
        :visible.sync="editModule"
        direction="rtl"
        size="35%"
        style="margin-top:2%;">
        <center>
                <div class="row" style="margin:auto;width:100%;padding-top:2%;">
                     <div class="col-12">
                         <h5>標題：</h5>
                     <el-input v-model="edit.title" style="width:25%;height:25%;font-size:30px;" placeholder="請輸入名稱" clearable></el-input>
                     </div>
                </div>
                 <div class="row" style="margin:auto;width:100%;padding-top:2%;">
                     <div class="col-12">
                         <h5>描述：</h5>
                     <el-input v-model="edit.description" style="width:25%;height:25%;font-size:30px;" placeholder="請輸入名稱" clearable></el-input>
                     </div>
                </div>
                <div class="row" style="margin:auto;width:100%;padding-top:5%;">
                     <div class="col-12">
                         <el-button v-on:click="editModule=false">取消</el-button>
                         <el-button type="primary" v-on:click="updateReportSocket(edit)">送出</el-button>
                     </div>
                </div>
        </center>
        </el-drawer>
    </div>
</template>
<script>
/* eslint-disable */
//Services
import ReportService from '@/services/report'
//Socket Service
import ReportSocket from '@/services/socket/report';
export default {
    name:"ReportPage",
    mixins: [ReportService,ReportSocket],
    data() {
      return {
        //////選單資料
        options: [{
          label: '產線1',
          value: '產線1'
        }, {
          label: '產線2',
          value: '產線2'
        }],
        search: '',
        editModule: false,
        edit: {}
      }
    },
     methods: {
      handleEdit(index, row) {
          this.editModule = true;
          this.edit = Object.assign({}, row);
      },
      async handleDelete(index, row) {
        this.deleteReportSocket(row._id);
      },
      cellValueRenderer(row, column, cellValue, index) {
            let value = cellValue;
            if (typeof row[column.property] === 'boolean') {
                value = String(cellValue);
            }
            return value;
        }
    },
    beforeCreate(){
        this.$store.commit('getReports');
    },
}
</script>
<style scoped>
    .table{
        /* border: 1px black solid; */
        border-radius: 12px;
        box-shadow: 5px 5px 8px black;
    }
     .demo-table-expand {
    font-size: 0;
  }
  .demo-table-expand label {
    width: 90px;
    color: #99a9bf;
  }
  .demo-table-expand .el-form-item {
    margin-right: 0;
    margin-bottom: 0;
    width: 50%;
  }
</style>