<template>
  <div id="sideNav">
        <div id="wave">
            <div id="userInf">
                <div class="row" style="margin:auto;">
                    <div class="col-7">
                        <img :src='require("./assets/" + user.pic)' alt="Avatar" class="avatar">
                        <div ><b>{{ usrStatus }}</b></div>
                    </div>
                    <div class="col-5" style="float:left;">
                        <qrcode :value="JSON.stringify(user)">
                    </div>
                </div>
            </div>
            <div id="userInf"><b>ID: {{ user._id }}</b></div>
            <div id="userInf"><b>{{ user.name}}</b></div>
        </div>
        <div style="margin-top:3%;">
            <div class="link" v-for="value in menu" :key="value.ley" :value="value.name">
                <a class="navItem" :href="value.link">{{ value.name }}</a>
            </div>
        </div>
        <div id="navigation-icon" v-if="mobileView"
          v-on:click="closeNav">
          <i class="fas fa-times"></i>
        </div>
</div>
</template>
<script>
/* eslint-disable */
//Modules
import QRcode from 'qrcode.vue'
export default {
    name: 'SideBar',
    props: {
        menu: Array,
        mobileView: {
            type: Boolean,
            default: false
        }
    },
    components: {
        'qrcode': QRcode
    },
    data() {
        return {
            user: {},
            usrStatus: ''
        }
    },
    methods: {
        getUser(){
            this.user = this.$store.getters.user;
            if(this.user.admin){
                this.usrStatus = '管理員';
                this.user.pic = 'admin.png';
            }else{
                this.usrStatus = '作業員';
                this.user.pic = 'operator.png'
            }
        },
        closeNav(){
            this.$emit("closeNav");
        }
    },
    created() {
        this.getUser();
    }
}
</script>
<style scoped>
#sideNav {
    height:100%;
    width:100%;
    /* border-right:1px gray solid; */
    /* background: linear-gradient(90deg,#f035a5, #784f9e) 72%; */
    background: rgb(75,185,185);
}
/* .link {border-bottom:1px gray solid;padding:3%;} */
.link {padding:5%;}
.navItem {
    color: black;
    /* font-style: oblique; */
}
.avatar {
  vertical-align: middle;
  width:60px;
  height: 60px;
  border-radius: 50%;
  box-shadow: 5px 10px 10px black;
  margin-bottom: 5%;
}
#userInf {
    margin-bottom: 2%;
    /* color: aliceblue; */
}
#wave {
    position: relative;
    background: linear-gradient(180deg,rgb(75,185,185), rgb(0,95,135));
    height:250px;
    padding:5%;
}
#wave::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 33%;
        background: url(./assets/wave.png);
        background-size: cover;
        background-repeat: no-repeat;
}
#navigation-icon {
  /* padding: 10px 10px 20px; */
  /* margin-right: 10px; */
  cursor: pointer;
}
#navigation-icon i {
    font-size: 2rem;
}
@media screen and (max-width: 515px){
    #wave{
        padding: 1% 0 0 0;
    }
    .link{
        padding: 0 4% 4% 4%;
    }
    #userInf{
        font-size: 12px;
    }
    #wave {
        height:250px;
        padding:3%;
    }
    #wave::before {
        height: 33%;
    }
}
@media screen and (min-width: 515px) and (max-width: 990px){
    #wave{
        padding: 1% 0 0 0;
    }
    .link{
        padding: 3% 4% 4% 4%;
    }
    #userInf{
        font-size: 12px;
    }
    #wave {
        height:300px;
        padding:3%;
    }
    #wave::before {
        height: 55%;
    }
}
/* @media screen and (min-width: 515px) and (max-width: 990px){
} */
@media screen  and (max-width: 1600px){
    #userInf{
        font-size: 12px;
    }
}
</style>