<template>
  <div id="admin">
    <div class="row" style="height:100%;width:100%;margin:0;" v-if="mobileView && showNav">
        <div class="col-12 padding-0" style="height:100%;width:100%;">
          <SideBar @closeNav="closeNav" :mobileView="mobileView" :menu="menu"/>
        </div>
    </div>
    <div class="row" style="height:100%;width:100%;">
      <div class="padding-0" :class="{'col-3': true}" v-if="!mobileView">
        <SideBar :menu="menu" v-if="!mobileView"/>
      </div>
      <div class="padding-0" :class="{'col-9': !mobileView, 'col-12': mobileView, 'open':showNav}" style="padding:0;background: linear-gradient(90deg,rgb(75,185,185), rgb(0,95,135));">
        <div id="navigation-icon" v-if="mobileView"
          @click="showNav = !showNav">
          <i class="fas fa-bars"></i>
        </div>
        <router-view class="mainView"/>
      </div>
    </div>
  </div>
</template>

<script>
/*eslint-disable*/
import SideBar from '@/components/layout/SideBar.vue'
//Services
import userService from '@/services/permission/admin'
export default {
  name: 'app',
  mixins: [userService],
  components: {
    SideBar
  },
  data() {
    return {
      menu: [
      {
        name: '人員管理',
        link: '/#/admin/userhandler'
      },
      {
        name: '產品管理',
        link: '/#/admin/itemhandler'
      },
      {
        name: '出貨單號',
        link: '/#/admin/shipmenthandler'
      },
      {
        name: '設備維護',
        link: '/#/admin/maintenance'
      },
      {
        name: '問題回報',
        link: '/#/admin/reporthandler'
      },
      {
        name: '<-- 返回選單',
        link: '/#/'
      }
    ],
    mobileView: true,
    showNav: false
    }
  },
  methods: {
    handleView() {
      this.mobileView = window.innerWidth <= 990;
    },
    closeNav(event){
      this.showNav = false;
    }
  },
  created() {
    this.checkPermission();
    this.handleView();
    window.addEventListener('resize', this.handleView);
  }
}
</script>

<style scoped>
.padding-0{
    padding-right:0;
    padding-left:0;
}
body {
  overflow-x: hidden;
  color: black;
  background: linear-gradient(90deg,rgb(75,185,185), rgb(0,95,135));  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}
#admin {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin: 0;
  padding:0;
  background: transparent;
  height:100%;
  width: 100%;
  overflow: auto;
}
#navigation-icon {
  cursor: pointer;
  padding: 2% 2% 2% 5%;
  float: left;
}
#navigation-icon i {
  font-size: 2rem;
}
@media screen {
  .mainView{
    margin: auto;
    padding-left: 10%;
  }
}
</style>