<template>
    <div class="eventhandler">
        <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a v-if="action == 'detail' && selectedEvents[0]" class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-content" role="tab" aria-controls="nav-create" aria-selected="true">內容</a>
            <a v-if="action == 'create' && currentAsset.assetId" class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-create" role="tab" aria-controls="nav-create" aria-selected="true">新增</a>
            <a v-if="action == 'edit' && selectedEvents[0]" class="nav-item nav-link active" id="nav-profile-tab" data-toggle="tab" href="#nav-update" role="tab" aria-controls="nav-update" aria-selected="false">修改</a>
            <!-- <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-delete" role="tab" aria-controls="nav-delete" aria-selected="false">Delete</a> -->
        </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <!-- View an Event detail -->
            <div v-if="action == 'detail' && selectedEvents[0]"  class="tab-pane fade show active" id="nav-content" role="tabpanel" aria-labelledby="nav-home-tab">
                <el-card class="box-card" v-for="event in selectedEvents" :key="event.id">
                <div slot="header" class="clearfix">
                    <span v-if="event.severity == 20">
                        {{'嚴重程度: '}}<span class="badge badge-pill badge-danger" for="radio1">Error</span>
                    </span>
                    <span v-else-if="event.severity == 30">
                        {{'嚴重程度: '}}<span class="badge badge-pill badge-warning" for="radio2">Warning</span>
                    </span>
                    <span v-else-if="event.severity == 40">
                        {{'嚴重程度: '}}<span class="badge badge-pill badge-primary" for="radio3">Info</span>
                    </span>
                    <span v-else>{{'嚴重程度: ' + event.severity}}</span>
                </div>
                <div><u>{{'ID:  ' + event.id }}</u></div>
                <div><u>{{'描述:  ' + event.description }}</u></div>
                <div><u>{{'時間:  ' + event.timestamp }}</u></div>
                <div><u>{{'Code:  ' + event.code }}</u></div>
                <div><u>{{'Source:  ' + event.source }}</u></div>
                <div><u>{{'Acknowledged:  ' + event.acknowledged }}</u></div>
                </el-card>
            </div>
        <!-- Create an Event -->
        <div v-if="!currentAsset"><h1>Choose and Asset</h1></div>
        <div v-if="action == 'create' && currentAsset.assetId"  class="tab-pane fade show active" id="nav-create" role="tabpanel" aria-labelledby="nav-home-tab">
            設備名稱:<br>
            {{this.currentAsset.name}}
            <br>
            設備編號:<br>
            {{this.currentAsset.assetId}}
            <br>
            <!-- Time: <date-picker v-model="event.timestamp" type="datetime" format="YYYY-MM-DD hh:mm:ss" width="100%" placeholder="Select Time" lang="en"/> -->
            時間:<el-date-picker
                v-model="event.timestamp"
                type="datetime"
                placeholder="請選擇時間">
                </el-date-picker>
            <br>
            嚴重程度:<br>
            <div class="form-check form-check-inline">
            <input class="form-check-input" v-model="event.severity" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="20">
            <span class="badge badge-pill badge-danger" for="inlineRadio1">Error</span>
            </div>
            <div class="form-check form-check-inline">
            <input class="form-check-input" v-model="event.severity" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="30">
            <span class="badge badge-pill badge-warning" for="inlineRadio2">Warning</span>
            </div>
            <div class="form-check form-check-inline">
            <input class="form-check-input" v-model="event.severity" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="40">
            <span class="badge badge-pill badge-primary" for="inlineRadio3">Info</span>
            </div>
            <br>
            *描述:<br>
            <input type="text" class="form-control" v-model="event.description" placeholder="Description" aria-label="Description" aria-describedby="basic-addon1" required>
            <br>
            Code:<br>
            <input type="text" v-model="event.code" class="form-control" placeholder="Code" aria-label="Code" aria-describedby="basic-addon1">
            <br>
            已確認:<br>
            <input type="checkbox" v-model="event.acknowledged" name=""/>
            <br><br>
            <button class="submitButton" style="margin: auto;" v-on:click="eventCreator">送出</button>
        </div>
        <!-- Edit an Event -->
        <div v-if="action == 'edit' && selectedEvents[0]" class="tab-pane fade show active" id="nav-update" role="tabpanel" aria-labelledby="nav-update-tab">
            事件編號:<br>
            {{ selectedEvents[0].id }}
            <br>
            <div >
            <!-- Time: <date-picker :value="selectedEvents[0].timestamp" v-on:input="updatedEvent.timestamp = $event.target.value" type="datetime" format="YYYY-MM-DD hh:mm:ss" width="100%" placeholder="Select Time" lang="zh"/> -->
            時間: <br>
            {{ selectedEvents[0].timestamp }}
            <br>
            嚴重程度:<br>
            <div class="form-check form-check-inline">
            <input class="form-check-input"   v-model="selectedEvents[0].severity" type="radio" name="inlineRadioOptions" id="radio1" value="20">
            <span class="badge badge-pill badge-danger" for="radio1">Error</span>
            </div>
            <div class="form-check form-check-inline">
            <input class="form-check-input"  v-model="selectedEvents[0].severity" type="radio" name="inlineRadioOptions" id="radio2" value="30">
            <span class="badge badge-pill badge-warning" for="radio2">Warning</span>
            </div>
            <div class="form-check form-check-inline">
            <input class="form-check-input"  v-model="selectedEvents[0].severity" type="radio" name="inlineRadioOptions" id="radio3" value="40">
            <span class="badge badge-pill badge-primary" for="radio3">Info</span>
            </div>
            <br>
            *描述:<br>
            <input type="text" class="form-control" v-model="selectedEvents[0].description" placeholder="Description" aria-label="Description" aria-describedby="basic-addon1" required>
            <br>
            Code:<br>
            <input type="text" v-model="selectedEvents[0].code" class="form-control" placeholder="Code" aria-label="Code" aria-describedby="basic-addon1">
            <br>
            已確認:<br>
            <input type="checkbox" v-model="selectedEvents[0].acknowledged" name=""/>
            <br><br>
            <button class="submitButton" style="margin: auto;" v-on:click="cancleUpdate">取消</button>
            <button class="submitButton" style="margin: auto;" v-on:click="eventUpdater">送出</button>
            </div>
        </div>
        <!-- <div class="tab-pane fade" id="nav-delete" role="tabpanel" aria-labelledby="nav-delete-tab">...</div> -->
        </div>
    </div>
</template>
<script>
/* eslint-disable */
import DatePicker from 'vue2-datepicker';
import moment from 'moment';
//Services
import eventMSP from '@/services/msp/event';

var selectedEvent = {
                "typeId": "com.siemens.mindsphere.eventmgmt.event.type.MindSphereStandardEvent",
                "timestamp": moment().format(),
                "entityId": "",
                "severity": 40,
                "description": "",
                "code": "tbe1",
                "acknowledged": false
            }
// var updatedEvent = {
//                 "typeId": "com.siemens.mindsphere.eventmgmt.event.type.MindSphereStandardEvent",
//                 "timestamp": moment().format(),
//                 "entityId": "",
//                 "severity": 40,
//                 "description": "",
//                 "code": "tbe1",
//                 "acknowledged": false
//             };
export default {
    mixins: [eventMSP],
    props: {
        selectedEvents: {
            type: Array
        },
        action: {
            type: String,
            default: 'detail'
        },
        currentAsset: {
            type: Object,
        }
    },
    components: {
        DatePicker
    },
    data() {
        return {
            event: {
                "typeId": "com.siemens.mindsphere.eventmgmt.event.type.MindSphereStandardEvent",
                "timestamp": moment().format(),
                "entityId": "",
                "severity": 40,
                "description": "",
                "code": "tbe1",
                "acknowledged": false
            },
            selectedEvent,
            // updatedEvent
        }
    },
    methods: {
        async eventCreator() {
            try{
                this.event.entityId = this.currentAsset.assetId;
                this.event.timestamp = moment(this.event.timestamp).format();
                var string = this.event.timestamp;
                string = string.slice(0,19) + '.000Z';
                this.event.timestamp = string;
                this.event.severity = parseInt(this.event.severity);
                var answer =  await this.createEvent(this.event);
                if(answer){
                    alert("Create Successfully!");
                    this.event.timestamp = moment().format();
                }
            }catch(e){
                console.log(e);
            }finally{
                this.$parent.refreshEventView();
            }
        },
        async eventUpdater() {
            // this.updatedEvent.timestamp = moment(this.updatedEvent.timestamp).format();
            // var string = this.updatedEvent.timestamp;
            // string = string.slice(0,19) + '.000Z';
            // this.updatedEvent.timestamp = string;
            this.updatedEvent.severity = parseInt(this.updatedEvent.severity);
            console.log(this.updatedEvent);
            // var answer =  await this.createEvent(this.event)
            // if(answer){
            //     console.log(answer);
            //     alert("Create Successfully!");
            // }
        },
        cancleUpdate() {
            this.$parent.refreshEventView();
        },
        eventHandler() {
            var id = selectedEvent.id
            this.updatedEvent = {
                "id": id,
                "typeId": "com.siemens.mindsphere.eventmgmt.event.type.MindSphereStandardEvent",
                "timestamp": "",
                "severity": 1,
                "description": "",
                "code": "tbe1",
                "acknowledged": false
            }
        }
    }   
}
</script>
<style scoped>
.eventhandler{
    margin:auto;
    width:85%;
    border-radius: 8px;
    box-shadow: 15px 20px 20px black;
    border:0.2px black solid;
}
.nav-tabs{
    border-bottom: none;
}
.nav-item{
    color: black;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.tab-content{
    background:white;
    padding:5%;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}
input[type="checkbox"]{
    position: relative;
    width: 17%;
    height: 40px;
    -webkit-appearance: none;
    background: #c6c6c6;
    outline: none;
    border-radius: 20px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, .2);
    transition: .5s;
    margin-top: 2%;
}
input:checked[type="checkbox"]{
    background: green;

}
input[type="checkbox"]::before{
    content: '';
    position: absolute;
    width: 50%;
    height: 40px;
    border-radius: 20px;
    top: 0;
    left: 0;
    background: #fff;
    transform: scale(1.1);
    box-shadow: 0 2px 5px rgba(0, 0, 0,.6);
    transition: .5s;
}
input:checked[type="checkbox"]::before{
    left: 40px;
}
.submitButton {
 background: none;
 color:#ccc;
 background:#338033;
 border: none;
 border-radius: 7px;
 transition: .6s;
 overflow: hidden;
 width: 30%;
 box-shadow: 5px 5px 8px black;
}
.submitButton:hover {
  border: 1px solid black;
}
</style>