<template>
<div class="shipmentHandler">
    <div style="padding-right:2%;">
    <!-- <el-badge :value="200" :max="99" class="badge" style="float:right;">
        <el-button size="small">通知</el-button>
    </el-badge> -->
        <AdminNotifier/>
    </div>
    <b-tabs content-class="mt-3" >
        <b-tab title="清單" :title-link-class="'tab-title-class'">
            <div class="row" style="width:100%;padding-left: 2%;"><List/></div>
        </b-tab>
        <b-tab title="新增" :title-link-class="'tab-title-class'">
            <div class="row" style="width:100%;padding-left: 2%;"><Add/></div>
        </b-tab>
    </b-tabs>
</div>
</template>
<script>
/* eslint-disable */
//Components
import Add from './itemHandler/Add'
import List from './itemHandler/List'
import AdminNotifier from '../utilities/notification/AdminNotifier'
//Services
import ItemService from '@/services/item'
export default {
    mixins: [ItemService],
    components: {
        Add,
        List,
        AdminNotifier
    }
}
</script>
<style>
.shipmentHandler {
    padding: 2%;
    padding-left: 2%;
    /* padding-right: 2%; */
    text-align: center;
}
.tab-title-class:not(.active){
    color: white !important;  
}
.tab-title-class{
    color: gray !important;  
}
</style>