<template>
    <div style="width:100%;height:100%;">
        <center>
        <div class="row" style="padding:0.5%;width:93%;margin-top:1%;box-shadow: 7px 12px 12px black;border:0.2px black solid;border-radius: 5px;">
                <div class="col-md-3" >
                    <div class="row" style="float:left;">
                        <el-button @click="drawer = true" type="primary" style="margin-left: 16px;">
                        選擇設備
                        </el-button>

                        <el-drawer
                        title="選擇設備"
                        :visible.sync="drawer"
                        direction="ltr"
                        >
                        <div style="height:100%;width:100%;padding:2%;">
                            <mdsp-asset-view v-on:selectedAssetChanged="assetChange" view-mode="Tree" error-notification="true"
                            class="component-border" shared-assets="true"> </mdsp-asset-view>
                        </div>
                        </el-drawer>
                    </div>
                </div>
                <div class="col-md-9">
                    <div style="float:right;">
                        <div style="margin:auto;">
                            <mdsp-date-time-range-picker v-on:dateRangeChanged="dateChange" error-notification="true" right-aligned="true" locale = "en">
                            </mdsp-date-time-range-picker>
                        </div>
                    </div>
                </div>
            </div>
        </center>
        <div class="row" style="margin-top:5%;">
            <div class="col-md-5" >
                <div class="card" style="margin:auto;width:78%;border-radius: 8px;box-shadow: 15px 20px 20px black;">
                    <div class="card-header">
                        <!-- <b v-if="!currentAsset">Choose an asset</b>
                        <b v-if="currentAsset">{{this.currentAsset.name}}</b> -->
                        <b>{{ currentAsset.name }}</b>
                    </div>
                    <div class="card-body">
                        <mdsp-aspect-variable-selector v-on:selectedAspectsAndVariablesChanged="selectedAspectsAndVariablesChanged" style="display: block; height: calc(100% - 5.5rem)" error-notification="true"
                            class="component-border" category="Dynamic" data-types="INT,LONG,DOUBLE" view-mode="All"
                            shared-assets="true">
                        </mdsp-aspect-variable-selector>
                    </div>
                    </div>
            </div>
            <div class="col-md-7">
                <div style=" margin:auto;width:85%;">
                    <mdsp-aggregate-chart style="height: 400px; display: block" error-notification="true" class="component-border"
                    wheel-zoom="true" shared-assets="true"></mdsp-aggregate-chart>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top:5%;margin-bottom:5%;">
            <div class="col-md-7" >
                <div class="card" style="margin:auto;width:85%;border-radius: 8px;box-shadow: 15px 20px 20px black;">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6">
                                <div style="float:left;">
                                    <a href="#" v-on:click="action='detail'"><i class="el-icon-zoom-in"></i></a>
                                </div>
                            </div>
                            <div class="col-6">
                                <div style="float:right;">
                                    <a href="#" v-on:click="action='create'" ><i class="el-icon-circle-plus-outline"></i></a>
                                    &nbsp;
                                    <a href="#" v-on:click="action='edit'" ><i class="el-icon-edit"></i></a>
                                    &nbsp;
                                    <a href="#" v-on:click="deleteHandler" ><i class="el-icon-delete"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div style="margin:auto;">
                                <mdsp-event-view class="component-border" v-on:selectedEventChanged="selectedEventChanged" v-on:selectedEventsChanged="selectedEventChanged" error-notification="true" selectable="true"
                                sort="severity,asc" pager-mode="Advanced"></mdsp-event-view>
                            </div>
                        </div>
                    </div>
                    </div>
            </div>
            <div class="col-md-5" >
                <EventHandler :currentAsset="currentAsset" :selectedEvents="selectedEvents" :action="action"/>
            </div>
        </div>
    </div>
</template>
<script>
/* eslint-disable */
import axios from 'axios';
import EventHandler from './EventHandler';
//Services
import assetMSP from '@/services/msp/asset';
import eventMSP from '@/services/msp/event';
export default {
    mixins: [assetMSP,eventMSP],
    components: {
        EventHandler
    },
    data(){
        return{
            drawer: false,
            assetId: '',
            action: '',
            selectedEvents: [],
            dateRange: {
                    from: new Date(new Date().setDate(new Date().getDate() - 7)),
                    to: new Date()
            }
        }
    },
    methods: {
        assetChange(e){
            const eventView = this.$el.querySelector('mdsp-event-view');
            this.currentAsset = e.detail;
            eventView.assetId = this.currentAsset.assetId;
            this.selectedEvents = [];
            const aspectVariableSelector = this.$el.querySelector('mdsp-aspect-variable-selector');
            aspectVariableSelector.selectedAssetIds = [e.detail.assetId];
        },
        dateChange(e) {
            const eventView = this.$el.querySelector('mdsp-event-view');
            this.dateRange = e.detail;
            eventView.dateRange = this.dateRange;
            const aggregateChart = this.$el.querySelector('mdsp-aggregate-chart');
            aggregateChart.dateRange = this.dateRange;
        },
        refreshEventView(){
            const eventView = this.$el.querySelector('mdsp-event-view');
            eventView.model.refresh();
        },
        refreshAggregateChart(){
            const aggregateChart = this.$el.querySelector('mdsp-aggregate-chart');
            aggregateChart.model.refresh();
        },
        selectedEventChanged(e){
            this.selectedEvents = [];
            this.selectedEvents.push(e.detail);
        },
        selectedAspectsAndVariablesChanged(e){
            const aggregateChart = this.$el.querySelector('mdsp-aggregate-chart');
            aggregateChart.variablePaths = e.detail;
            aggregateChart.dateRange = this.dateRange;
        },
        async deleteHandler(){
            try{
                this.action = 'delete';
                await this.deleteEvent(this.selectedEvents[0].id);
            }catch(e){
                console.log(e);
            }finally{
                this.refreshEventView();
            }
        },
        async getSelectionItems(){
            this.assets = await this.getAssets();
        },
        async getEventsByAsset(){
            this.events = await this.getEvents(this.currentAsset.assetId);
        },
        chooseAsset() {
            this.getEventsByAsset();
        }
    },
    created(){
        this.getSelectionItems();
    }
}
</script>
<style scoped>
.redDot {
  height: 25px;
  width: 25px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
}
.submitButton {
 background: none;
 color:#ccc;
 background:#338033;
 border: none;
 border-radius: 12%;
 transition: .6s;
 overflow: hidden;
 width: 100%;
 box-shadow: 5px 5px 8px black;
}
.submitButton:hover {
  border: 1px solid black;
}
</style>