<template>
<div class="reportHandler">
    <div style="padding-right:2%;">
        <AdminNotifier/>
    </div>
    <b-tabs content-class="mt-3" >
        <b-tab title="回報" :title-link-class="'tab-title-class'">
            <div class="row" style="width:100%;padding-left: 2%;"><List/></div>
        </b-tab>
    </b-tabs>
</div>
</template>
<script>
/* eslint-disable */
// Components
import List from './reportHandler/List'
import AdminNotifier from '../utilities/notification/AdminNotifier'
//Services
import ReportService from '@/services/report'
export default {
    mixins: [ReportService],
    components: {
        List,
        AdminNotifier
    }
}
</script>
<style>
.reportHandler {
    padding: 2%;
    padding-left: 2%;
    /* padding-right: 2%; */
    text-align: center;
}
.tab-title-class:not(.active){
    color: white !important;  
}
.tab-title-class{
    color: gray !important;  
}
</style>