<template>
<div class="shipmentHandler">
    <div style="padding-right:2%;">
        <AdminNotifier/>
    </div>
    <b-tabs content-class="mt-3" >
        <b-tab title="出貨單" :title-link-class="'tab-title-class'">
            <div class="row" style="width:100%;padding-left: 2%;"><Shipments/></div>
        </b-tab>
        <b-tab title="新增出貨單" :title-link-class="'tab-title-class'">
            <div class="row" style="width:100%;padding-left: 2%;"><Add/></div>
        </b-tab>
        <b-tab title="紀錄" :title-link-class="'tab-title-class'">
            <div class="row" style="width:100%;padding-left: 2%;"><Records/></div>
        </b-tab>
    </b-tabs>
</div>
</template>
<script>
/* eslint-disable */
// Components
import Shipments from './shipmentHandler/Shipments'
import Records from './shipmentHandler/Records'
import Add from './shipmentHandler/Add'
import AdminNotifier from '../utilities/notification/AdminNotifier'

export default {
    components: {
        Shipments,
        Records,
        Add,
        AdminNotifier
    }
}
</script>
<style>
.shipmentHandler {
    padding: 2%;
    padding-left: 2%;
    /* padding-right: 2%; */
    text-align: center;
}
.tab-title-class:not(.active){
    color: white !important;  
}
.tab-title-class{
    color: gray !important;  
}
</style>