<template>
<div class="userHandler">
    <div style="padding-right:2%;">
        <AdminNotifier/>
    </div>
    <b-tabs content-class="mt-3" >
        <b-tab title="名單" :title-link-class="'tab-title-class'">
            <div class="row" style="width:100%;padding-left: 2%;"><List/></div>
        </b-tab>
        <b-tab title="新增" :title-link-class="'tab-title-class'">
            <div class="row" style="width:100%;padding-left: 2%;"><Add/></div>
        </b-tab>
    </b-tabs>
</div>
</template>
<script>
/* eslint-disable */
// Components
import Add from './userHandler/Add'
import List from './userHandler/List'
import AdminNotifier from '../utilities/notification/AdminNotifier'
//Services
import UserService from '@/services/user'
export default {
    mixins: [UserService],
    components: {
        Add,
        List,
        AdminNotifier
    }
}
</script>
<style>
.userHandler {
    padding: 2%;
    padding-left: 2%;
    /* padding-right: 2%; */
    text-align: center;
}
.tab-title-class:not(.active){
    color: white !important;  
}
.tab-title-class{
    color: gray !important;  
}
</style>