<template>
  <div>
    <p class="error">{{ error }}</p>

    <p class="decode-result">Last result: <b>{{ result }}</b></p>

    <qrcode-stream :camera="camera" @decode="onDecode" @init="onInit">
        <div v-if="validationSuccess" class="validation-success">
          Shipment scanned successfully!!
        </div>

        <div v-if="validationFailure" class="validation-failure">
          Shipment was not found!!
        </div>

        <div v-if="validationPending" class="validation-pending">
          Long validation in progress...
        </div>
    </qrcode-stream>
  </div>
</template>

<script>
/* eslint-disable */
//modules
import { QrcodeStream } from 'vue-qrcode-reader';

export default {
  components: { QrcodeStream },
  props:{
    unsubmittedShipments: {
      type: Array,
      default: []
    }
  },
  data () {
    return {
      unsubmittedShipments: this.unsubmittedShipments,
      isValid: undefined,
      result: '',
      camera: 'auto',
      error: ''
    }
  },
  computed: {
    validationPending () {
      return this.isValid === undefined
        && this.camera === 'off'
    },

    validationSuccess () {
      return this.isValid === true
    },

    validationFailure () {
      return this.isValid === false
    }
  },
  methods: {
    turnCameraOn () {
      this.camera = 'auto'
    },

    turnCameraOff () {
      this.camera = 'off'
    },
    resetValidationState () {
      this.isValid = undefined
    },
    async onDecode (result) {
      this.result = result;
      this.turnCameraOff();
      try{
        let found = this.unsubmittedShipments.find( shipment => {
          return shipment._id == result;
        });
        await this.timeout(3000);
        if(found){
          this.isValid = true;
          this.$emit('shipmentScanned',found._id);
          this.$store.commit('shipmentScanned',found._id);
        }else{
          this.isValid = false;
        }
      }catch(e){
        console.log(e);
      }finally{
        await this.timeout(2000);
        this.turnCameraOn();
      }
    },
    onInit (promise) {
       promise
        .catch(console.error)
        .then(this.resetValidationState)
    },
     timeout (ms) {
      return new Promise(resolve => {
        window.setTimeout(resolve, ms)
      })
    }
  }
}
</script>

<style scoped>
.error {
  font-weight: bold;
  color: red;
}
.validation-success,
.validation-failure,
.validation-pending {
  position: absolute;
  width: 100%;
  height: 100%;

  background-color: rgba(255, 255, 255, .8);
  text-align: center;
  font-weight: bold;
  font-size: 1.4rem;
  padding: 10px;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}
.validation-success {
  color: green;
}
.validation-failure {
  color: red;
}
</style>