<template>
    <div class="progressForm container">
        <el-steps :active="active" finish-status="success" process-status="process">
        <el-step title="步驟 1"></el-step>
        <el-step title="步驟 2"></el-step>
        </el-steps>
            <el-form v-if="active===0">
                 <div class="row" style="margin:auto;width:100%;">
                     <div class="col-12">
                     <h5>部門：</h5>
                        <el-select v-model="user.department" placeholder="請選擇">
                            <el-option
                                v-for="user in options"
                                :key="user.value"
                                :label="user.label"
                                :value="user.value">
                            </el-option>
                        </el-select>
                     </div>
                </div>
                <div class="row" style="margin:auto;width:100%;padding-top:2%;">
                     <div class="col-12">
                     <h5>姓名：</h5>
                        <el-input v-model="user.name" style="width:18%;" placeholder="請輸入姓名" clearable></el-input>
                     </div>
                </div>
                <div class="row" style="margin:auto;width:100%;padding-top:2%;">
                     <div class="col-12">
                     <h5>信箱：</h5>
                        <el-input v-model="user.email" style="width:18%;" placeholder="請輸入信箱" clearable></el-input>
                     </div>
                </div>
            </el-form>
            <el-form v-if="active===1">
                <div class="row" style="margin:auto;width:100%;padding-top:2%;">
                     <div class="col-12">
                     <h5>部門：{{ user.department}}</h5>
                     </div>
                </div>
                <div class="row" style="margin:auto;width:100%;padding-top:2%;">
                     <div class="col-12">
                     <h5>姓名：{{ user.name}}</h5>
                     </div>
                </div>
                <div class="row" style="margin:auto;width:100%;padding-top:2%;">
                     <div class="col-12">
                     <h5>信箱：{{ user.email}}</h5>
                     </div>
                </div>
            </el-form>
            <el-form v-if="active===2">
                <h2 style="color:green;">人員資料創建成功</h2>
            </el-form>
        <el-button style="margin-top: 12px;" @click="prev">上一步</el-button>
        <el-button v-if="active != 1" style="margin-top: 12px;" @click="next">下一步</el-button>
        <el-button v-if="active == 1" style="margin-top: 12px;" @click="userCreator">送出</el-button>
    </div>
</template>
<script>
/* eslint-disable */
//Services
import UserService from '@/services/user';
//Socket Service
import UserSocket from '@/services/socket/user';
export default {
    name:"AddUserPage",
    mixins: [UserService,UserSocket],
    data() {
      return {
        active: 0,
        options: [{
          label: '產線1',
          value: '產線1'
        }, {
          label: '產線2',
          value: '產線2'
        }]
      };
    },

    methods: {
      next() {
        if(!this.user.name || !this.user.email || !this.user.department){
            alert("表單不完整！！");
        }else {
            if (this.active++ > 1) this.active = 0;
        }
      },
      prev() {
          if(this.active-- < 1) this.active = 0;
      },
      userCreator() {
          if(this.createUserSocket()){
            this.active++;
          }else;
      }
    }
}
</script>
<style scoped>
    .progressForm{
        width:100%;
        height:50%;
        padding:2%;
        margin-right:2%;
        margin-top:2%;
        background:white;
        border-radius: 12px;
        box-shadow: 5px 5px 8px black;
    }
</style>