<template>
    <!-- eslint-disable -->
    <div class="container">
        <div class="selection row" style="float:left;margin:auto;width:100%;">
            <el-select v-model="value" placeholder="請選擇" @change="listFilter">
                <el-option
                    v-for="user in options"
                    :key="user.value"
                    :label="user.label"
                    :value="user.value">
                </el-option>
            </el-select>
        </div>
        <div class="row" style="margin:auto;height:100%;width:100%;padding-top:2%;">
             <el-table
                class="table"
                :data="tableData.filter(data => !search || data.name.toLowerCase().includes(search.toLowerCase()))"
                style="width: 100%">
                <template slot="empty">
                    無符合項目
                </template>
                <el-table-column type="expand">
                <template slot-scope="props">
                    <el-form label-position="left" inline class="demo-table-expand">
                    <el-form-item label="ID">
                        <span>{{ props.row._id }}</span>
                    </el-form-item>
                    <el-form-item label="部門">
                        <span>{{ props.row.department }}</span>
                    </el-form-item>
                    <el-form-item label="姓名">
                        <span>{{ props.row.name }}</span>
                    </el-form-item>
                    <el-form-item label="信箱">
                        <span>{{ props.row.email }}</span>
                    </el-form-item>
                    <el-form-item label="錯誤次數">
                        {{props.row.wrong.length}}
                    </el-form-item>
                    <el-form-item label="正確次數">
                        {{props.row.correct.length}}
                    </el-form-item>
                    <el-form-item label="建立時間">
                        <span>{{ props.row.createdAt }}</span>
                    </el-form-item>
                    <el-form-item label="更新時間">
                        <span>{{ props.row.updatedAt }}</span>
                    </el-form-item>
                    </el-form>
                </template>
                </el-table-column>
                <el-table-column
                label="編號"
                prop="_id">
                </el-table-column>
                <el-table-column
                width="100"
                label="部門"
                sortable
                prop="department">
                </el-table-column>
                <el-table-column
                width="150"
                label="姓名"
                sortable
                prop="name">
                </el-table-column>
                <el-table-column
                width="180"
                label="信箱"
                sortable
                prop="email">
                </el-table-column>
                <el-table-column
                width="180"
                label="評比"
                sortable>
                <template slot-scope="scope">
                    <!-- {{ scope.row.score }} -->
                    <el-rate
                    v-model="scope.row.score"
                    disabled
                    show-score
                    text-color="#ff9900"
                    score-template="{value}">
                    </el-rate>
                </template>
                </el-table-column>
                <el-table-column
                align="right">
                <template slot="header" slot-scope="scope">
                    <el-input
                    v-model="search"
                    size="mini"
                    placeholder="請輸入關鍵字搜尋"/>
                </template>
                <template slot-scope="scope">
                    <el-button
                    size="mini"
                    @click="handleEdit(scope.$index, scope.row)">修改</el-button>
                    <el-button
                    size="mini"
                    type="danger"
                    @click="handleDelete(scope.$index, scope.row)">刪除</el-button>
                </template>
                </el-table-column>
            </el-table>
        </div>
        <!-- Modules -->
        <el-drawer
        title="修改"
        :visible.sync="editModule"
        direction="rtl"
        size="35%"
        style="margin-top:2%;">
        <center>
                <div class="row" style="margin:auto;width:100%;padding-top:2%;">
                     <div class="col-12">
                     <el-input v-model="edit.name" style="width:25%;height:25%;font-size:30px;" placeholder="請輸入名稱" clearable></el-input>
                     </div>
                </div>
                <div class="row" style="margin:auto;width:100%;padding-top:2%;">
                     <div class="col-12">
                        <h5>部門：</h5>
                        <el-select v-model="edit.department" placeholder="請選擇">
                            <el-option
                                v-for="item in options"
                                :key="item.value"
                                :label="item.label"
                                :value="item.value">
                            </el-option>
                        </el-select>
                     </div>
                </div>
                <div v-if="edit.correct && edit.wrong" class="row" style="margin:auto;width:100%;padding-top:2%;">
                     <div class="col-12">
                     <!-- <el-switch v-model="edit.name" style="width:25%;height:25%;font-size:30px;" placeholder="請輸入名稱" clearable></el-switch> -->
                     <el-form label-position="center" inline>
                        <el-form-item label="正確">
                            <span>{{ edit.correct.length }}</span>
                        </el-form-item>
                        <el-form-item label="錯誤">
                            <span>{{ edit.wrong.length }}</span>
                        </el-form-item>
                        <el-form-item label="重置">
                            <el-button type="primary" icon="el-icon-refresh" circle v-on:click="reset"></el-button>
                        </el-form-item>
                     </el-form>
                     </div>
                </div>
                <div class="row" style="margin:auto;width:100%;padding-top:5%;">
                     <div class="col-12">
                         <el-button v-on:click="editModule=false">取消</el-button>
                         <el-button type="primary" v-on:click="updateUserSocket(edit)">送出</el-button>
                     </div>
                </div>
        </center>
        </el-drawer>
    </div>
</template>
<script>
/* eslint-disable */
//Services
import UserService from '@/services/user'
//Socket Service
import UserSocket from '@/services/socket/user';
export default {
    name:"UserPage",
    mixins: [UserService,UserSocket],
    data() {
      return {
        //////選單資料
        options: [{
          label: '產線1',
          value: '產線1'
        }, {
          label: '產線2',
          value: '產線2'
        }],
        value: '',
        score: 3.5,
        search: '',
        editModule: false,
        edit: {}
      }
    },
     methods: {
      handleEdit(index, row) {
          this.editModule = true;
          this.edit = Object.assign({}, row);
      },
      async handleDelete(index, row) {
        this.deleteUserSocket(row._id);
      },
      listFilter(value) {
          this.tableData = this.userList.filter(data => data.name === value);
      },
      reset(){
          this.edit.correct = [];
          this.edit.wrong = [];
      }
    },
    beforeCreate(){
        this.$store.commit('getUsers');
    },
    created() {
        // this.getUser();
        // this.userCreateSubscribe();
        // this.userDeleteSubscribe();
    },
    destroyed() {
        // this.userUnSubscribe();
    }
}
</script>
<style scoped>
    .table{
        /* border: 1px black solid; */
        border-radius: 12px;
        box-shadow: 5px 5px 8px black;
    }
     .demo-table-expand {
    font-size: 0;
  }
  .demo-table-expand label {
    width: 90px;
    color: #99a9bf;
  }
  .demo-table-expand .el-form-item {
    margin-right: 0;
    margin-bottom: 0;
    width: 50%;
  }
</style>