<template>
  <div id="operator">
    <div class="row" style="height:100%;width:100%;margin:0;" v-if="mobileView && showNav">
        <div class="col-12 padding-0" style="height:100%;width:100%;">
          <SideBar @closeNav="closeNav" :mobileView="mobileView" :menu="menu"/>
        </div>
    </div>
    <div class="row" style="height:100%;width:100%;">
      <div class="padding-0" :class="{'col-3': true}" v-if="!mobileView">
        <SideBar :menu="menu" v-if="!mobileView"/>
      </div>
      <div class="padding-0" :class="{'col-9': !mobileView, 'col-12': mobileView, 'open':showNav}" style="padding:0;background: linear-gradient(90deg,rgb(75,185,185), rgb(0,95,135));">
        <div id="navigation-icon" v-if="mobileView"
          @click="showNav = !showNav">
          <i class="fas fa-bars"></i>
        </div>
        <div v-if="!operator.email" class="row" style="width:100%;">
          <div class="col-9"></div>
          <div class="col-3">
              <a class="typingLink" href="#" @click.prevent="typingStatus">
                <span>
                  <i v-if="!typing" class="fas fa-keyboard"></i>
                  <i v-else class="fas fa-qrcode"></i>
                </span>
              </a>
          </div>
        </div>
        <router-view v-if="operator.email"/>
        <UserReader v-if="!operator.email && !typing" @changeOperator="changeOperator" style="width:50%;height:50%;margin:auto;"/>
        <OperatorLogin v-if="!operator.email && typing" @changeOperator="changeOperator" style="margin:auto;"/>
      </div>
    </div>
  </div>
</template>

<script>
/*eslint-disable*/
//Components
import SideBar from '@/components/layout/SideBar.vue'
import UserReader from '../utilities/Reader/UserReader';
import OperatorLogin from '../utilities/OperatorLogin';
//Services
import userService from '@/services/permission/operator'

export default {
  name: 'app',
  mixins:[userService],
  components: {
    'SideBar': SideBar,
    'UserReader': UserReader,
    'OperatorLogin': OperatorLogin
  },
  data() {
    return {
      menu: [
        {
          name: '出貨頁面',
          link: '/#/operator/shipment'
        },
        {
          name: '問題回報',
          link: '/#/operator/report'
        },
        {
          name: '<-- 返回選單',
          link: '/#/'
        }
      ],
      operator: {},
      typing: false,
      mobileView: true,
      showNav: false
    }
  },
  methods: {
    changeOperator(operator){
      this.operator = operator;
    },
    typingStatus(){
      this.typing = !this.typing;
    },
    handleView() {
      this.mobileView = window.innerWidth <= 990;
    },
    closeNav(event){
      this.showNav = false;
    }
  },
  beforeCreate() {
    this.$store.commit('getShipments');
  },
  created() {
    this.user = this.$store.getters.user;
    this.operator = this.$store.getters.currentOperator;
    this.checkPermission();
    this.handleView();
    window.addEventListener('resize', this.handleView);
  }
}
</script>

<style scoped>
.padding-0{
    padding-right:0;
    padding-left:0;
}
body {
  overflow-x: hidden;
  color: black;
  background: linear-gradient(90deg,rgb(75,185,185), rgb(0,95,135));  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  /* position: relative; */
}
#operator {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin: 0;
  padding:0;
  background: transparent;
  height:100%;
  width: 100%;
  /* overflow: hidden;
  position: fixed; */
}
.typingLink {
   display: inline-block;
   padding: 12px;
   margin-top: 15px;
   border-radius: 50px;
   color: white;
   font-size: 28px;
   width: 65px;
   height: 65px;
   text-decoration: none;
   box-shadow: -3px -3px 10px rgba(255,255,255,0.06),
           3px 3px 10px rgba(0,0,0,0.2);
}
.typingLink:hover{
   box-shadow: inset -3px -3px 10px rgba(255,255,255,0.06),
               inset 3px 3px 10px rgba(0,0,0,0.2);
}
.typingLink:hover span{
   display: block;
   transform: scale(0.98);
}
#navigation-icon {
  /* padding: 10px 10px 20px; */
  /* margin-right: 10px; */
  cursor: pointer;
  padding: 2% 2% 2% 5%;
  float: left;
}
#navigation-icon i {
  font-size: 2rem;
}
</style>