<template>
    <div>
      <div class="card">
        <div class="card-header">
          <b>問題回報表單</b>
        </div>
        <div class="card-body">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm" style="padding: 3%;">
                  <el-form-item label="事件名稱" prop="title">
                      <el-input v-model="ruleForm.title"></el-input>
                  </el-form-item>
                  <el-form-item label="發生產線" prop="production">
                      <el-select v-model="ruleForm.production" placeholder="請選擇產線">
                      <el-option label="產線一" value="line1"></el-option>
                      <el-option label="產線二" value="line2"></el-option>
                      </el-select>
                  </el-form-item>
                  <el-form-item label="發生時間" required>
                      <el-col :span="11">
                      <el-form-item prop="date">
                          <el-date-picker type="date" placeholder="選擇日期" v-model="ruleForm.date" style="width: 100%;"></el-date-picker>
                      </el-form-item>
                      </el-col>
                      <el-col class="line" :span="2">-</el-col>
                      <el-col :span="11">
                      <el-form-item prop="time">
                          <el-time-picker placeholder="選擇時間" v-model="ruleForm.time" style="width: 100%;"></el-time-picker>
                      </el-form-item>
                      </el-col>
                  </el-form-item>
                  <el-form-item label="緊急狀況" prop="emergency">
                      <el-switch v-model="ruleForm.emergency"></el-switch>
                  </el-form-item>
                  <el-form-item label="問題種類" prop="type">
                      <el-radio-group v-model="ruleForm.category">
                      <el-radio label="機台" name="category"></el-radio>
                      <el-radio label="產品" name="category"></el-radio>
                      <el-radio label="出貨" name="category"></el-radio>
                      <el-radio label="人員" name="category"></el-radio>
                      <el-radio label="其他" name="category"></el-radio>
                      </el-radio-group>
                  </el-form-item>
                  <el-form-item label="回報對象" prop="people">
                      <el-checkbox-group v-model="ruleForm.people">
                      <el-checkbox label="管理員"></el-checkbox>
                      <el-checkbox label="維修員"></el-checkbox>
                      <el-checkbox label="現場人員"></el-checkbox>
                      </el-checkbox-group>
                  </el-form-item>
                  <el-form-item label="問題描述" prop="description">
                      <el-input type="textarea" v-model="ruleForm.description"></el-input>
                  </el-form-item>
                  <el-form-item>
                      <el-button type="primary" @click="submitForm('ruleForm')">送出表單</el-button>
                      <el-button @click="resetForm('ruleForm')">清空</el-button>
                  </el-form-item>
                </el-form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</template>
<script>
/* eslint-disable */
//Socket Service
import ReportSocket from '@/services/socket/report';
  export default {
    mixins: [ReportSocket],
    data() {
      return {
        ruleForm: {
          title: '',
          production: '',
          date: '',
          time: '',
          emergency: false,
          category: '',
          people: [],
          description: ''
        },
        rules: {
          title: [
            { required: true, message: '請輸入事件名稱', trigger: 'blur' },
            { min: 3, max: 5, message: '長度在 3 到 5 個字符', trigger: 'blur' }
          ],
          production: [
            { required: true, message: '請選擇產線', trigger: 'change' }
          ],
          date: [
            { type: 'date', required: true, message: '請選擇日期', trigger: 'change' }
          ],
          time: [
            { type: 'date', required: true, message: '請選擇時間', trigger: 'change' }
          ],
          category: [
            { required: true, message: '請選擇問題種類', trigger: 'change', trigger: 'change' }
          ],
          people: [
            { type: 'array',required: true, message: '請至少選擇一位回報對象' }
          ],
          description: [
            { required: true, message: '請解釋問題內容', trigger: 'blur' }
          ]
        }
      };
    },
    methods: {
      submitForm(formName) {
        this.$refs[formName].validate((valid) => {
          if (valid) {
            this.createReportSocket(this.ruleForm);
            alert('submit!');
            this.resetForm(formName);
          } else {
            console.log('error submit!!');
            return false;
          }
        });
      },
      resetForm(formName) {
        this.$refs[formName].resetFields();
      }
    }
  }
</script>
<style scoped>
  .card{
    margin: auto;
    margin-top: 8%;
    width: 50%;
    border-radius: 20px;
    box-shadow: 15px 20px 20px black;
  }
  @media screen and (max-width: 990px){
    .card{
      width: 78%
    }
  }
</style>