<template>
<div class="container" style="width:100%;height:100%;">
  <center>
   <div class="row" style="padding:0.5%;width:93%;margin-bottom:0;margin-top:1%;box-shadow: 7px 12px 12px black;border:0.2px black solid;border-radius: 5px;">
          <div class="col-lg-3">
             <div class="row" style="float:left;margin:auto;width:100%;">
                <el-select v-model="value" placeholder="請選擇">
                  <el-option-group
                  v-for="group in options"
                  :key="group.label"
                  :label="group.label">
                  <el-option
                      v-for="item in group.options"
                      :key="item.value"
                      :label="item.label"
                      :value="item.value">
                  </el-option>
                  </el-option-group>
              </el-select>
            </div>
          </div>
          <div class="col-lg-4" >
            <div style="float:left;margin-top:2%;overflow:hidden;">
              <el-pagination
                background
                small
                layout="prev, pager, next"
                :total="unsubmittedShipments.length * 10"
                :current-page.sync="currentPage"
                @current-change="current_change">
              </el-pagination>
            </div>
          </div>
          <div class="col-lg-5">
            <div style="float:right;margin-top:0.5%;">
              <button class="submitButton" v-on:click="submitItemListSocket(shipmentId,operator.email)">送出</button>
            </div>
          </div>
    </div>
    <div class="row" style="margin:3%;margin-bottom:0;">
      <div class="col-6">
        <div class="row" style="float:left;width:100%;">
            <div class="listTitle">名稱：{{ shipmentName }}</div>
        </div>
        <div class="row" style="float:left;width:100%;">
          <div class="listTitle">單號：{{ shipmentId }}</div>
            <div ref="qrcode" style="float:left;">
              <qrcode :value="shipmentId"/>
            </div>
        </div>
      </div>
      <div class="col-6">
        <!-- <button v-on:click="createPDF">test</button> -->
        <button class="neumorphism" v-on:click=" reader = !reader ">Reader</button>
      </div>
    </div>
    <div v-if="currentShipment.id != ''" class="row">
      <div ref="shipment" class="card" style="margin:auto;margin-bottom:2%;width:50%;border-radius: 20px;box-shadow: 15px 20px 20px black;">
        <div class="card-header">
          <b>出貨單&nbsp;(ID:&nbsp;{{ scannedShipment }})</b>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item" v-for="item in currentShipment.detail" :key="item._id">
            <div class="row">
            <div class="col-lg-5">
              <div style="margin-bottom:2%;">{{ item.item.category}}</div>
              <div style="margin-bottom:2%;">{{ item.item._id}}</div>
              <div>{{ item.item.name}}</div>
            </div>
            <div class="col-lg-2">
              <center>
              <h3 style="margin:auto;">{{ item.scaned}}/{{ item.quantity}}</h3>
              </center>
            </div>
            <div class="col-lg-3">
              <qrcode :value="item.item._id"/>
            </div>
            <div class="col-lg-2">
              <span v-if="item.scaned != item.quantity" class="redDot" style="margin-top:40%;"></span>
              <span v-if="item.scaned == item.quantity" class="greenDot" style="margin-top:40%;"></span>
            </div>
            </div>
            </li>

          <li class="list-group-item">
            <div class="row">
            <div class="col-lg-5"><b>Wrong Item</b></div>
            <div class="col-lg-5">
                <div class="row" v-for="item in currentShipment.wrongList" :key="item._id">
                  <div class="col-5">
                    <h6>{{ item.item.category}}</h6>
                  </div>
                  <div class="col-4">
                    <h6>{{ item.item.name}}</h6>
                  </div>
                  <div class="col-3">
                    <h6>{{ item.scaned }}</h6>
                  </div>
                </div>
            </div>
            <div class="col-lg-2">
              <span v-if="wrongList.length == 0" class="greenDot"></span>
              <span v-if="wrongList.length > 0" class="redDot"></span>
            </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div v-if="reader" style="margin:auto;width:50%;">
        <ItemReader v-if="currentShipment.id != ''" :items="readerItems" :shipmentId="shipmentId" style="width:80%;height:80;margin:auto;margin-bottom:5%;"/>
        <ShipmentReader v-if="currentShipment.id == ''" @shipmentScanned="shipmentScanned" :unsubmittedShipments="unsubmittedShipments" style="width:80%;height:80;margin:auto;margin-bottom:5%;"/>
      </div>
    </div>
    <div class="row">
      <div class="card" style="margin:auto;width:50%;border-radius: 20px;box-shadow: 15px 20px 20px black;">
        <div class="card-header">
          <b>掃描模擬</b>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <div class="row">
            <div class="col-lg-5">
              <div style="margin-bottom:3%;float:left;padding-left:1%;">{{ currentScan.category}}</div>
              <div class="row" style="margin:auto;width:100%;">
                <el-select v-model="currentScan.id" placeholder="請選擇" @change="scanSelected" style="width: 95%;">
                    <el-option-group
                    v-for="group in itemOptions"
                    :key="group.label"
                    :label="group.label">
                    <el-option
                        v-for="item in group.options"
                        :key="item._id"
                        :label="item.name"
                        :value="item._id">
                    </el-option>
                    </el-option-group>
                </el-select>
              </div>
            </div>
            <div class="col-lg-5">
              <center>
                <div style="float:left;margin-top:5%;">
                  <div class="row" style="margin:auto;width:100%;">
                    <el-input-number v-model="currentScan.quantity" :min="1" :max="10" label="描述文字" style="width: 95%;"></el-input-number>
                  </div>
                </div>
              </center>
            </div>
            <div class="col-lg-2">
              <div style="float:right;margin-top:15%;">
                <div class="row" style="margin:auto;width:100%;">
                  <button class="submitButton" style="color:white;" v-on:click="scanItemSocket(shipmentId,currentScan)">送出</button>
                </div>
              </div>
            </div>
            </div>
            </li>
        </ul>
      </div>
    </div>
  </center>
</div>
</template>

<script>
/* eslint-disable */
//Modules
import VueBarcode from 'vue-barcode';
import Qrcode from 'qrcode.vue'
import jsPDF from 'jspdf'
import html2canvas from "html2canvas"
import html2pdf from 'html2pdf'
//Components
import ItemReader from '../utilities/Reader/ItemReader';
import ShipmentReader from '../utilities/Reader/ShipmentReader';
//Services
import ShipmentService from '@/services/shipment';
import ItemService from '@/services/item';
import ScanListService from '@/services/scanList';
//Socket Service
import ShipmentSocket from '@/services/socket/shipment';

export default {
  name: 'Shipment',
  mixins: [ShipmentService,ItemService,ScanListService,ShipmentSocket],
  props: {
    msg: String
  },
  components: {
    'barcode': VueBarcode,
    'ItemReader': ItemReader,
    'ShipmentReader': ShipmentReader,
    'qrcode': Qrcode
  },
  data() {
    return {
      reader: false,
      readerItems: [],
      //////選單資料
        options: [{
          label: '產線',
          options: [{
            value: 'Line1',
            label: '1'
          },
          {
            value: 'Line2',
            label: '2'
          },
          {
            value: 'Line3',
            label: '3'
          }]
        }],
        value: '',
        //item
        itemOptions: [{
          label: '食品應用',
          options: []
        },
        {
          label: '飼料應用',
          options: []
        }],
        itemValue: '',
        currentPage: 1,
        shipmentId: '',
        shipmentName: '',
        currentScan: {
          id: '',
          category: '',
          name: '',
          quantity: 0
        },
        scannedShipment: ''
    }
  },
  computed: {
    currentShipment() {
      return this.$store.getters.currentShipment;
    },
    operator() {
      return this.$store.getters.currentOperator;
    }
  },
  methods: {
    current_change(){
      this.getCurrent();
    },
    async getCurrent(){
      try{
        var i = this.currentPage - 1;
        this.shipmentId = '';
        this.shipmentName = '';
        if(this.unsubmittedShipments.length > 0){
          this.shipmentId = this.unsubmittedShipments[i]._id;
          this.shipmentName = this.unsubmittedShipments[i].name;
        }
      }catch(e){
        console.log(e);
      }
    },
    async createScanList(){
      try{
        let items = await this.getItem();
        this.readerItems = items;
        items.forEach(element => {
          if(element.category == '食品應用'){
            this.itemOptions[0].options.push(element);
          }
          if(element.category == '飼料應用'){
            this.itemOptions[1].options.push(element);
          }
        });
        
      }catch(e){
        console.error(e);
      }
    },
    scanSelected(id){
      this.itemList.forEach((element) => {
          if(element._id == id){
              this.currentScan.id = element._id;
              this.currentScan.category = element.category;
              this.currentScan.name = element.name;
          }
      });
    },
    createPDF () {
      let pdfName = 'test'; 
      let doc = new jsPDF();
      // doc.text("Hello World", 10, 10);
      var canvasElement = document.createElement('canvas');
      html2canvas(this.$refs.shipment, 
      {
        canvas: canvasElement
      }).then(function (canvas) {
      const img = canvas.toDataURL("image/jpeg", 0.8);
      doc.addImage(img,'JPEG',20,20);
      window.open(doc.output('bloburl'));
      });
      // doc.save(pdfName + '.pdf');
    },
    async shipmentScanned(id){
      try{
        this.scannedShipment = id;
        await this.getCurrent();
      }catch(e){
        console.log(e);
      }
    }
  },
  created() {
    this.getCurrent();
    this.createScanList();
    // this.submitItemListSubscribe();
  },
  // destroyed() {
  //   this.itemListUnSubscribe();
  // }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: black;
}
.redDot {
  height: 25px;
  width: 25px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
}
.greenDot {
  height: 25px;
  width: 25px;
  background-color: green;
  border-radius: 50%;
  display: inline-block;
}
.submitButton {
 background: none;
 color:#ccc;
 background:#338033;
 border: none;
 border-radius: 12%;
 transition: .6s;
 overflow: hidden;
 width: 100%;
 box-shadow: 5px 5px 8px black;
}
.submitButton:active{
   /* border: 1px solid black; */
   box-shadow: 3px 3px 5px black;
   transform: translateY(4px);
}
.listTitle{
    font-size: 24px;
    font-weight: bold;
    width: 100%;
}
.neumorphism{
  width: 100%;
  height: 50px;
  background: none;
  border: none;
  outline: none;
  border-radius: 40px;
  padding: 5px 15px;
  color: #fff;
  font-size: 18px;
  box-shadow:  -2px -2px 6px rgba(255,255,255,0.1),
               2px 2px 6px rgba(0,0,0,0.1);
}
.neumorphism:active{
  box-shadow: inset -2px -2px 6px rgba(255,255,255,0.1),
              inset 2px 2px 6px rgba(0,0,0,0.1);
}
@media screen and (max-width: 1400px){
  .listTitle{
    font-size: 18px;
  }
}
</style>
