<template>
    <div class="operatorLogin">
        <div class="form">
            <h2>Operator Login</h2>
            <div class="input">
                <div class="inputBox">
                    <label>Email:</label>
                    <input type="text" v-model="email" name="" placeholder="example@xyz.com">
                </div>
                <div class="inputBox">
                    <input type="submit" name="" value="Sign In" v-on:click="logIn">
                </div>
            </div>
        </div>
    </div>
</template>
<script>
/* eslint-disable */
//Services
import UserServices from '@/services/user';

export default {
    name: 'OperatorLogin',
    mixins: [UserServices],
    data() {
        return{
            email: ''
        }
    },
    methods: {
        async logIn(){
            try{
                let found = await this.getUserByEmail(this.email);
                if(found){
                    this.$emit('changeOperator',found);
                    this.$store.commit('setCurrentOperator',found);
                }else{
                    alert('User not found.');
                }
            }catch(e){
                console.log(e);
            }
        }
    }
}
</script>
<style scoped>
    @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900&display=swap');
    /*
    body{
        display: flex;
        justify-content: center;
    } */
    .operatorLogin{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        width:100%
    }
    h2{
        font-family: 'Poppins', sans-serif;
        color: white;
    }
    .form{
        position: relative;
        width: 50%;
        padding: 3% 5% 5% 5%;
        background: none;
        border-radius: 18px;
        text-align: center;
        box-shadow: -5px -5px 10px rgba(255,255,255,0.05),
                    5px 5px 215px rgba(0,0,0,0.5);
    }
    .form h2{
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 4px;
         font-family: 'Poppins', sans-serif;
    }
    .form .input {
        text-align: left;
        margin-top: 40px;
    }
    .form .input .inputBox{
        margin-top: 20px;
    }
    .form .input .inputBox label{
        display: block;
        color: white;
        margin-bottom: 5px;
        font-size: 18px;
    }
    .form .input .inputBox input{
        width: 100%;
        height: 50px;
        background: none;
        border: none;
        outline: none;
        border-radius: 40px;
        padding: 5px 15px;
        color: #fff;
        font-size: 18px;
        box-shadow: inset -2px -2px 6px rgba(255,255,255,0.1),
                    inset 2px 2px 6px rgba(0,0,0,0.3);
    }
    .form .input .inputBox input[type="submit"]{
        margin-top: 20px;
        box-shadow:  -2px -2px 6px rgba(255,255,255,0.1),
                     2px 2px 6px rgba(0,0,0,0.1);
    }
    .form .input .inputBox input[type="submit"]:active{
        color: lightgray;
        margin-top: 20px;
        box-shadow:  inset -2px -2px 6px rgba(255,255,255,0.1),
                     inset 2px 2px 6px rgba(0,0,0,0.1);
    }
    .form .input .inputBox input::placeholder{
        color: #555;
        font-size: 18px;
    }
    @media screen and (max-width: 990px){
        .form h2 {
            font-size: 24px;
        }
    }
    @media screen and (max-width: 400px){
        .form h2 {
            font-size: 20px;
        }
    }
</style>