<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<script>
/* eslint-disable */
export default {
  name: 'App',
  data() {
    return {
      assetId: 'ed68e42a946441bc8b2a2a54ebb174b2',
      dateRange: {
            from: new Date(new Date().setDate(new Date().getDate() - 7)),
            to: new Date()
      }
    }
  },
  methods:{
    errorSubscribe(){
            this.sockets.subscribe('Error', (data) => {
                console.log(data);
            });
      },
  },
  beforeCreate() {
    this.$store.commit('setUserByToken');
  },
  created(){
    this.errorSubscribe();
  }
}
</script>
<style>
.padding-0{
    padding-right:0;
    padding-left:0;
}
body {
  overflow-x: hidden;
  color: black;
  background: linear-gradient(90deg,rgb(75,185,185), rgb(0,95,135));  background-attachment: fixed;
  /* background: #ebf5fc; */
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin: auto;
  padding: auto;
  background: transparent;
  height:100%;
  width: 100%;
}
</style>
